main {
	min-height: 80vh;
}

h3 {
	padding: 1rem
		0;
}

h1 {
	font-size: 1.8rem;
	padding: 1rem
		0;
}
h2 {
	font-size: 1.4rem;
	padding: 0.5rem
		0;
}
.rating
	span {
	margin: 0.1rem;
}

/* Carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
	display: flex;
}
.carousel-caption {
	position: absolute;
	top: 0;
}
.carousel-caption
	h2 {
	color: #fff;
}
.carousel
	img {
	height: 300px;
	padding: 30px;
	margin: 40px;
	border-radius: 50%;
}
.carousel
	a {
	margin: 0
		auto;
}
.carousel {
	color: #54a4d9;
	background-color: #54a4d9 !important;
}

/* ------------Brands--------------- */
.row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.small-container {
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.brands {
	margin: 100px
		auto;
}
.col-5-m {
	width: 160px;
}
.col-5-m
	img {
	width: 100%;
	cursor: pointer;
	filter: grayscale(
		100%
	);
}
.col-5-m
	img:hover {
	filter: grayscale(
		0
	);
}
.menu-icon {
	width: 28px;
	margin-left: 20px;
	display: none;
}

/* ------------Scroll to Top--------------- */

.App {
	text-align: center;
	height: 5000px;
}

.scrollTop {
	position: fixed;
	width: 100%;
	bottom: 20px;
	align-items: center;
	height: 20px;
	justify-content: center;
	z-index: 1000;
	cursor: pointer;
	animation: fadeIn
		0.3s;
	transition: opacity
		0.4s;
	opacity: 0.5;
}

.scrollTop:hover {
	opacity: 1;
	color: #54a4d9;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.5;
	}
}
